body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    font-family: Arial, sans-serif;
    background-color: #6ca0ea;
    color: #ffffff;
    align-items: center;

}

.navbar a {
    color: black; /* Cambia 'red' por el color que prefieras */
    text-decoration: none; /* Quita la barra de abajo */
    
}

.navbar {
    background-color: #55a1e0; /* Cambia el color de fondo de la barra de navegación */
    padding: 0; /* Elimina el relleno interno de la barra de navegación */
    display: flex; /* Utiliza flexbox para el diseño */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo de la barra */
    align-items: center; /* Centra verticalmente los elementos */
    height: 50px; /* Altura de la barra de navegación */
    border-radius: 10px;
}

  .logo-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.logo-container img {
    width: 1100px; /* Ancho deseado para tu logo */
    height: auto; /* Para mantener la proporción de aspecto */
}

button{
  width: 100%;
  padding: 10px;
  background-color: rgba(2, 2, 2, 0.8);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.producto {
    background-color: rgba(148, 146, 146, 0.8);
    border: 5px solid #ffffff;
    padding: 0.1rem;
    margin: 50px;
    text-align: center;
}

footer {
    background-color: FFFDD7#ba2222;
    color: #580808;
    text-align: center;
    padding: 0rem;
    
}

.producto img {
    width: 200px; /* ancho */
    height: 100px; /* altura */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Alinea el menú desplegable debajo del enlace principal */
}

.dropdown-content a {
    color: black; /* Cambia 'black' por el color que prefieras */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c8c8c8;
}